body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

.main-header {
    background-color: #17194B;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container img {
    max-width: 100%;
    height: auto;
}

.main-nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.main-nav li {
    margin-right: 20px;
}

.main-nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease;
}

.main-nav a:hover {
    color: #3199FE;
}

.sign-in-button {
    background-color: #3199FE;
    color: white;
    padding: 10px 15px;
    border-radius: 10px;
    text-align: center;
    display: inline-block;
}

.sign-in-button:hover {
    background-color: #1F65C4;
}
